<form action="/register" method="post">
  <h1>Login</h1>


  <div>
    <input type="name" name="name" , id="form-name" />
    <label for="form-name">Name</label>
  </div>

  <div>
    <input type="email" name="email" , id="form-email" />
    <label for="form-email">Email</label>
  </div>

  <div>
    <input type="password" name="password" , id="form-password" />
    <label for="form-password">Password</label>
  </div>

  </br>

  <button type="submit">Sign up</button>
  </br>
  <a href="/Login">Login instead</a>
</form>